.job-info {
    margin: 30px 0;
}
.job-info b{
    display: block;
    font-weight: normal;
    font-size: 0.9em;
    text-transform: uppercase;
}
.job-info .info{
    font-weight: bold;
    color: #333;
}

.job-info li{
    margin-bottom: 15px;
}
.job-title {
    font-size: 1.8em;
}
.job-location, .job-company {
    color: #166BA0!important;
}
.job-detail {
    margin: 1rem 0;
    color: #333;
}

.recommendations {
    margin: 30px 0;
}

.recommendations .title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}
.recommendations ul {
    padding: 0 0 0 20px;
}
@media screen and (min-width: 720px){
    .job-info{
        overflow: hidden;
    }
    .job-info li{
        float: left;
        padding-right: 15px;
        width: 50% !important;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 800px){
    .recommendations{
        float: left;
        width: 37%;
        padding-right: 35px;
    }
    .recommendations.searchJobs{
        width: 25%;
    }
}
