#jobs-toolbar {
    margin-bottom: 60px;
}

#jobs-list{
    list-style-type: none;
    padding: 0 1rem;
}

#jobs-list .job{
    margin: 1rem 0 2.5rem 0;
}

#jobs-list .title a{
    color: #373a3c
}

#jobs-list .date {
    color: #aaa;
    font-size: 0.9em;
}
#jobs-list .title {
    display: inline-block;
}

#jobs-list .location {
    font-size: 0.9em;
    color: #666;
}

#jobs-list .company {
    font-size: 0.9em;
    color: #006621;
}


#search {
    margin: 25px;
    text-align:center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
}

/* select2 theme fixing for bootstrap4 */
.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 37px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px!important;
}
.select2-container--default .select2-selection--single {
    border-color: #ccc!important;
}


.subscription-card .card{
    background-color: #f5f5f5;
}
.subscription-card{
    float: none;
}
