{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_list.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" />
{% endblock %}

{% block content %}

    {% set toolbar = [
        ('today', 'Today'),
        ('yesterday', 'Yesterday'),
        ('thisweek', 'This week')
    ] -%}
    {% set active_page = active_page|default('today') -%}
    <!--<div id="jobs-toolbar">
        <ul class="nav nav-pills">
            {% for href, caption in toolbar %}
            <li class="nav-item">
                <a href="{{href}}" class="nav-link {% if href == active_page %}active{% endif
  %}">{{caption}}</a>
            </li>
            {% endfor %}
        </ul>
        <i id="jobCount" class="pull-right">{{ jobsCount }} jobs found</i>
    </div>-->

    <form class="form-inline" id="search" action="/jobs">
        <div class="form-group">
            <label class="sr-only" for="search-keyword">Keyword</label>
            <input type="search" class="form-control" id="search-keyword"
                   name="keyword" placeholder="e.g. sales manager"
                    value="{{ filtering['title']|default('') }}">
        </div>
        <div class="form-group">
            <label class="sr-only" for="search-location">Location</label>
            <select class="form-control" id="search-location" name="location">
                {%
                    set locations = [
                        "London",
                        "Manchester",
                        "Dublin"
                    ]
                -%}

                {% for location in locations %}
                <option
                    {% if location == filtering["location"]["city"]%} selected="selected" {% endif %}
                    >{{location}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if jobsCount == 0 %}
    <div class="text-muted text-center">
        No jobs found. Try again with a simple keyword like "manager", "driver" etc.
    </div>
    {% endif %}

    <ul id="jobs-list">
        {% for job in jobs %}
        <li class="job">
            <h5 class="job-title"><a href="/jobs/{{ job['_id'] }}/{{ job['title'] }}">{{job['title']}}</a></h5>
            <p class="job-info">
                <span class="job-date">{{ job["date"] }}</span> -
                <span class="job-location fa fa-map-marker"">
                    {{ job["location"]["city"] }}</span>
                <a href="company/{{ job['company'] }}" class="job-company">{{ job["company"] }} </a>
            </p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block bottomscripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#search-location').select2({
            });
        })
    </script>
{% endblock %}