<div class="row">
    <div class="col-sm-11 col-lg-6 col-md-8 center-block subscription-card">
        <script id="subscription" type="x-tmpl-mustache">
        {% raw %}
        <div class="card card-block">
          <h3 class="card-title">{{title}}</h3>
          <p class="card-text">{{description}}</p>
            <form class="form-inline subscription {{className}}" action="/jobs">
            <div class="form-group">
                <label class="sr-only">Keyword</label>
                <input type="email" class="form-control"
                       name="email" placeholder="your@email.com" value="{{email}}" />
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div>
        {% endraw %}
        </script>
    </div>
</div>
